# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Modpack ###
*.bak
*.bat
*.mrpack
*.zip

/crash-reports/
/debug/
/logs/
/local/
/saves/
/servers.dat
/usercache.json
/usernamecache.json
/keybindings.txt
/knownkeys.txt
/options.txt
/patchouli_data.json
/profile.json
/rhino.local.properties
/temp/
servers.dat_old
config/jei/ingredient-list-mod-sort-order.ini
