// JourneyMap server configuration file. Modify at your own risk!
// To restore the default settings, simply delete this file before starting Minecraft server
// For more information, go to: http://journeymap.info/JourneyMapServer
//
// default : jm.server.edit.label.selection.default 
{
  "enabled": "false",
  "teleportEnabled": "false",
  "surfaceMapping": "ALL",
  "topoMapping": "ALL",
  "caveMapping": "ALL",
  "radarEnabled": "ALL",
  "playerRadarEnabled": "true",
  "villagerRadarEnabled": "true",
  "animalRadarEnabled": "true",
  "mobRadarEnabled": "true",
  "onClient": false,
  "configVersion": "5.7.3"
}